@font-face {
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
}

@font-face {
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
}

.collabBuildings {
    margin-top: 50px;
    margin-bottom: -27px;
    display: flex;
    justify-content: center;
}

.buildingPicItself {
    width: 980px;
    height: 518px;
}

.collabDarkBox {
    background-color: #010516;
    margin-bottom: 22vw;
    z-index: 5;
}

.topCollab {
    width: 100%;
    color: white;
    height: 10vw;
    display: flex;
    font-size: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
}

.twoCollabLogos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.tempCircle {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    border: 2px white dotted;
    margin: 3vw;
}

.invisibleCollab {
    width: 100%;
    padding-left: 1vw;
    margin-top: -5vw;
    color: #ff0000;
    /* height: 10vw;*/
    display: flex;
    font-size: 8vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
    transform: translateY(23.5vw);
    
}

.motherBoard {
    width: 100%;
    height: auto;
    margin-bottom: -22vw;
}

.collabLightBox {
    display: flex;
    justify-content: center;
}

.tempCircleDark {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border: 5px black solid;
    background-color: white;
    margin: 3vw;
}

.collabNames {
    height: 5vw;
    width: 20vw;
    border-radius: 0.5vw;
    border: 5px red solid;
    background-color: white;
    margin: 3vw;
}

.bridge{
    width: 1100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.startupTitle{
    position: absolute;
    color: #010516;
    font-size: 120px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    transform: translateY(-400px);
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
}

.startupBox{
    width: 1100px;
    height: 500px;
    border-radius: 20px;
    background-color: #ffd1c3;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    transform: translateY(-200px);
}

.startupSlide{
    height: 400px;
    width: 1100px;
}

@media screen and (max-width: 1800px){

}

@media screen and (max-width: 1200px){
    .collabBuildings {
        margin-top: 50px;
        margin-bottom: -21px;
        display: flex;
        justify-content: center;
    }
    
    .buildingPicItself {
        width: 784px;
        height: 414px;
    }

    .topCollab {
        font-size: 100px;
    }
}

@media screen and (max-width: 992px){
    .collabBuildings {
        margin-top: 50px;
        margin-bottom: -17px;
        display: flex;
        justify-content: center;
    }
    
    .buildingPicItself {
        width: 627px;
        height: 331px;
    }

    .topCollab {
        font-size: 80px;
    }
}

@media screen and (max-width: 767px){
    .collabBuildings {
        margin-top: 50px;
        margin-bottom: -13px;
        display: flex;
        justify-content: center;
    }
    
    .buildingPicItself {
        width: 502px;
        height: 265px;
    }

    .topCollab {
        font-size: 70px;
    }
}

@media screen and (max-width: 480px){
    
}  