@font-face {
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
  }
  
  @font-face {
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
  }

.eventContainer{
    width: 100%;
    margin-top: 80px !important;
    text-align: center;
}

.topEventTitle{
    width: 100%;
    height: 250px;
    display: flex;
    background-color: #ffd1c3;
    font-size: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
}

.eventBox{
    width: 80%;
    height: 420px;
    margin-top: 100px;
    background-color:#ffd1c3;
    display: inline-block;
    border-radius: 20px;
}

.eventTwoRows{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eventTwoColumns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.eventImgColumn{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.eventTextColumn{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.eventBoxTitle{
    font-size: 85px;
    color: gray;
    font-family: themeFont;
    margin-left: 30px;
    src: url("./iceland-regular.ttf");
    border-bottom: 15px solid transparent;
    line-height: 45px;
    margin-top: 35px;
    margin-bottom: 25px;
    cursor: pointer;
}


.eventBoxText{
    color: #010516;
    font-size: 24px;
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
}

.eventBoxImg{
    width: 250px;
}


