@font-face {
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
  }
  
  @font-face {
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
  }


@media screen and (min-width: 1800px){

    .circuitImageContainer{
        margin-bottom: -230px !important;
    }

    .circuitImage{
        width: 1500px !important;
      }

    .eventContainer{
        margin-top: 0px !important;
    }

    .eventBox{
        width: 1500px !important;
        height: 600px !important;
        margin-top: 200px !important;
    }

    .eventBoxTitle{
        font-size: 130px !important;
        margin-left: 60px !important;
        line-height: 65px !important;
        margin-top: 45px !important;
        margin-bottom: 40px !important;
    }
    
    .eventBoxPhrases{
        margin-top: -50px !important;
        font-size: 70px !important;
        font-weight: 610 !important;
    
    }

    .eventBoxText{
        font-size: 35px !important;
    }
    
    .eventBoxImg{
        width: 350px !important;
        height: 454px !important;
    }
}

@media screen and (max-width: 1200px){

    .circuitImageContainer{
        margin-bottom: -130px !important;
    }

    .circuitImage{
        width: 800px !important;
      }

    .eventContainer{
        width: 100%;
        margin-top: 0px !important; 
        text-align: center;
    }

    .eventBox{
        width: 800px !important;
        height: 320px !important;
    }
    
    .eventBoxTitle{
        font-size: 60px !important;
        margin-left: 60px !important;
        line-height: 28px !important;
    }
    
    .eventBoxPhrases{
        margin-top: -50px !important;
        font-size: 40px !important;
        font-weight: 610 !important;

    }
    
    .eventBoxText{
        font-size: 16px !important;
    }
    
    .eventBoxImg{
        width: 170px !important;
        height: 220px !important;
    }

    .arrowRight{
        padding: 20px !important;
    }
    
    .arrowLeft{
        padding: 20px !important;
    }

}

@media screen and (max-width: 992px){

    .circuitImageContainer{
        margin-bottom: -60px !important;
    }

    .circuitImage{
        width: 550px !important;
      }

    .eventContainer{
        width: 100%;
        margin-top: 0px !important; 
        text-align: center;
    }
    .eventBox{
        width: 600px !important;
        margin-top: 40px !important;
        height: 300px !important;
    }
    
    .eventBoxTitle{
        font-size: 40px !important;
        margin-left: 65px !important;
        margin-top: 40px !important;
        line-height: 18px !important;
    }
    
    .eventBoxPhrases{
        margin-top: -50px !important;
        font-size: 30px !important;
        font-weight: 610 !important;

    }
    
    .eventBoxText{
        font-size: 16px !important;
    }
    
    .eventBoxImg{
        width: 160px !important;
        height: 207px !important;
    }

    .arrowRight{
        padding: 18px !important;
    }
    
    .arrowLeft{
        padding: 18px !important;
    }
    
}

@media screen and (max-width: 767px){
    
    .circuitImageContainer{
        margin-bottom: -65px !important;
    }

    .circuitImage{
        width: 500px !important;
      }

    .eventContainer{
        width: 100%;
        margin-top: 0px !important; 
        text-align: center;
    }

    .eventBox{
        width: 450px !important;
        margin-top: 50px !important;
        height: 280px !important;
    }
    
    .eventBoxTitle{
        font-size: 30px !important;
        margin-left: 50px !important;
        margin-top: 40px !important;
        line-height: 15px !important;
    }
    
    .eventBoxPhrases{
        margin-top: -40px !important;
        font-size: 30px !important;
        font-weight: 610 !important;

    }
    .eventBoxText{
        font-size: 15px !important;
    }
    
    .eventBoxImg{
        width: 140px !important;
        height: 182px !important;
    }

    .arrowRight{
        padding: 10px !important;
    }
    
    .arrowLeft{
        padding: 10px !important;
    }
    
}

@media screen and (max-width: 480px){

    .circuitImageContainer{
        margin-bottom: -60px !important;
    }
    .circuitImage{
        width: 300px !important;
      }

    .eventContainer{
        width: 100%;
        margin-top: 0px !important; 
        text-align: center;
        overflow-x: hidden;
    }

    .eventBox{
        width: 350px !important;
        margin-top: 50px !important;
        height: 250px !important;
    }
    
    .eventBoxTitle{
        font-size: 25px !important;
        margin-left: 30px !important;
        margin-top: 30px !important;
        line-height: 10px !important;
    }
    
    .eventBoxPhrases{
        font-size: 30px !important;
        font-weight: 610 !important;
        margin-top: -20px !important;

    }

    .eventBoxText{
        font-size: 15px !important;
        width: 300px;
        margin-left: 30px;
    }

    .eventImgColumn{
        display: none !important;
    }
    
    .eventBoxImg{
        width: 100px !important;
        height: 130px !important;
    }

    .arrowRight{
        display: none !important;
    }
    
    .arrowLeft{
        display: none !important;
    }
}

.circuitImageContainer{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -140px;
}
.circuitImage{
    width: 1100px;
    height:100%;
    position: static;
    margin: auto;
    z-index: 1;
  }

.circuitImageBackground{
    width: 100%;
    height:42%;
    background-color: #02061b;
    position: absolute;

}
.eventContainer{
    width: 100%;
    margin-top: 0px;
    text-align: center;
}


.eventBox{
    width: 1000px;
    height: 420px;
    margin-top: 100px;
    background-color:#ffd1c3;
    display: inline-block;
    border-radius: 20px;
}

.eventTwoRows{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eventTwoColumns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.eventImgColumn{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.eventTextColumn{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.eventBoxTitle{
    font-size: 85px;
    color: gray;
    font-family: themeFont;
    margin-left: 30px;
    src: url("./iceland-regular.ttf");
    border-bottom: 15px solid transparent;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 25px;
    cursor: pointer;
}

.eventBoxPhrases{
    margin-top: -50px ;
    font-size: 50px ;
    font-weight: 610 ;
    color: #fff ;

}

.eventBoxPhrases span{
    color: #ff0000 ;

}

.eventBoxText{
    color: #010516;
    font-size: 24px;
    text-align: start;
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
}

.eventBoxImg{
    width: 250px;
    height: 324px;
}

.arrowRight{
    border: solid #ff0000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 25px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.arrowLeft{
    border: solid #ff0000;
    border-width: 3px 0 0 3px;
    display: inline-block;
    padding: 25px;
    transform: rotate(-45deg);
    cursor: pointer;
    margin-left: 30px;
    margin-right: 20px;
}

