@font-face {
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
  }
  
  @font-face {
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
  }


@media screen and (min-width: 1800px){
    .eventContainer{
        margin-top: 750px !important;
    }

    .topEventTitle{
        font-size: 180px !important;
    }

    .eventBox{
        width: 1500px !important;
        height: 600px !important;
        margin-top: 200px !important;
    }

    .eventBoxTitle{
        font-size: 130px !important;
        margin-left: 60px !important;
        line-height: 65px !important;
        margin-top: 45px !important;
        margin-bottom: 40px !important;
    }
    
    
    .eventBoxText{
        font-size: 35px !important;
    }
    
    .eventBoxImg{
        width: 350px !important;
        height: 454px !important;
    }
}

@media screen and (max-width: 1200px){
    .eventContainer{
        width: 100%;
        margin-top: 400px !important; 
        text-align: center;
    }

    .topEventTitle{
        height: 150px !important;
        font-size: 85px !important;
    }

    .eventBox{
        width: 800px !important;
        height: 320px !important;
    }
    
    .eventBoxTitle{
        font-size: 60px !important;
        margin-left: 60px !important;
        line-height: 28px !important;
    }
    
    
    .eventBoxText{
        font-size: 16px !important;
    }
    
    .eventBoxImg{
        width: 170px !important;
        height: 220px !important;
    }

}

@media screen and (max-width: 992px){
    .eventContainer{
        width: 100%;
        margin-top: 280px !important; 
        text-align: center;
    }

    .topEventTitle{
        height: 100px !important;
        font-size: 55px !important;
    }

    .eventBox{
        width: 600px !important;
        margin-top: 40px !important;
        height: 300px !important;
    }
    
    .eventBoxTitle{
        font-size: 40px !important;
        margin-left: 65px !important;
        margin-top: 40px !important;
        line-height: 18px !important;
    }
    
    
    .eventBoxText{
        font-size: 16px !important;
    }
    
    .eventBoxImg{
        width: 160px !important;
        height: 207px !important;
    }
    
}

@media screen and (max-width: 767px){
    .eventContainer{
        width: 100%;
        margin-top: 250px !important; 
        text-align: center;
    }

    .topEventTitle{
        height: 90px !important;
        font-size: 50px !important;
    }

    .eventBox{
        width: 450px !important;
        margin-top: 50px !important;
        height: 280px !important;
    }
    
    .eventBoxTitle{
        font-size: 30px !important;
        margin-left: 50px !important;
        margin-top: 40px !important;
        line-height: 15px !important;
    }
    
    
    .eventBoxText{
        font-size: 11px !important;
    }
    
    .eventBoxImg{
        width: 140px !important;
        height: 182px !important;
    }
    
}

@media screen and (max-width: 480px){
    .eventContainer{
        width: 100%;
        margin-top: 150px !important; 
        text-align: center;
        overflow-x: hidden;
    }

    .topEventTitle{
        height: 60px !important;
        font-size: 28px !important;
    }

    .eventBox{
        width: 350px !important;
        margin-top: 50px !important;
        height: 250px !important;
    }
    
    .eventBoxTitle{
        font-size: 20px !important;
        margin-left: 45px !important;
        margin-top: 20px !important;
        line-height: 10px !important;
    }
    
    
    .eventBoxText{
        font-size: 15px !important;
        width: 300px;
        margin-left: 30px;
    }

    .eventImgColumn{
        display: none !important;
    }
    
    .eventBoxImg{
        width: 100px !important;
        height: 130px !important;
    }
}

.eventContainer{
    width: 100%;
    margin-top: 500px;
    text-align: center;
}

.topEventTitle{
    width: 100%;
    height: 250px;
    display: flex;
    background-color: #ffd1c3;
    font-size: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
}

.eventBox{
    width: 1000px;
    height: 420px;
    margin-top: 100px;
    background-color:#ffd1c3;
    display: inline-block;
    border-radius: 20px;
}

.eventTwoRows{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eventTwoColumns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.eventImgColumn{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.eventTextColumn{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.eventBoxTitle{
    font-size: 85px;
    color: gray;
    font-family: themeFont;
    margin-left: 30px;
    src: url("./iceland-regular.ttf");
    border-bottom: 15px solid transparent;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 25px;
    cursor: pointer;
}


.eventBoxText{
    color: #010516;
    font-size: 24px;
    text-align: start;
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
}

.eventBoxImg{
    width: 250px;
    height: 324px;
}


