@font-face {
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
  } 
  
  @font-face {
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
  }


.faqContainer{
    width: 100%;
    min-height: 45vw;
    margin-top: 30vw;
    display: flex;
    flex-direction: row-reverse;
    background-color: #010516;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.faqTextColumn{
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: flex-start;
}

.faqImgColumn{
    display: flex;
    flex-basis: 40%;
    justify-content: center;
}

.faqTitle{
    color: white;
    font-size: 12vw;
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
}

.faqSubtitle{
    color: white;
    font-size: 5vw;
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}
.faqButton {
    color: rgb(180, 178, 178);
    font-size: 40px;
    width: 100%;
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: white;
}
.rightButtonArrow {
    top: 50%;
    width: 40px;
    height: 40px;
    margin: 20px;
}
.clicked {
    transform: rotate(180deg);
}
.faqclicked {
    color: #ff0000;
}
.faqInfo {
    margin-left: 5%;
    font-size: 25px;
    padding: 6px;
    padding-bottom: 20px;
    color: white;
}
.faqButton:hover {
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 5px;
}

@media screen and (max-width: 1200px){
    .faqContainer {
        flex-direction: column;
        margin-top: 400px;
    }
    .faqImgColumn {
        display: none;
    }
    .faqTextColumn {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 767px){
    .faqContainer{
        padding-top: 20px;
    }

    .faqButton {
        font-size: 30px;
    }
    .faqInfo {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px){
    .faqContainer{
        margin-top: 450px;
    }
    .faqButton {
        font-size: 15px;
    }
    .faqInfo {
        font-size: 10px;
    }
}