@font-face {
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
  } 
  
  @font-face {
    font-family: "mainText";
    src: url("./Montserrat-Regular.ttf");
  }


.faqContainer{
    width: 100%;
    min-height: 45vw;
    margin-top: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #010516;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.faqTextColumn{
    display: flex;
    flex-basis: 66%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqImgColumn{
    display: flex;
    flex-basis: 34%;
    justify-content: center;
}

.faqImage{
    width: 40vw;
    height: 45vw;
    animation: city 5s infinite backwards;
}

@keyframes city{
    0%{
        transform: translate3d(0px, 0px, 0);
        animation-timing-function: ease-in-out;
    }

    50%{
        transform: translate3d(30px, -30px, 0);
        animation-timing-function: ease-in-out;
    }

    100%{
        transform: translate3d(0px, 0px, 0);
        animation-timing-function: ease-in-out;
    }
}

.faqTitle{
    padding-top: 60px;
    color: white;
    background-color: #010516;
    font-size: 8vw;
    font-family: themeFont;
    src: url("./iceland-regular.ttf");
    text-align:center;
}



.participantBox{
    height: 350px;
    width: 50%; 
    border-radius: 20px;
    background-color: #ffd1c3;
    position: absolute;
    /* margin: auto; */
    text-align: center;
    z-index: 1;
}

.participantSlide{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* transform: translate(-40px, 20px); */
}

.participantImageContainer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.participantImage{
    width: 160px;
    height: 160px;    
    object-fit: cover;
    border-radius: 50%;
}

.participantText{
    width: 300px;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    font-family: "mainText";
    font-weight: bold;
    src: url("./Montserrat-Regular.ttf");
}


@media screen and (min-width: 1800px){
    .participantBox{
        height: 750px;
    }

    .participantSlide{
        height: 660px;
    }

    .participantImageContainer{
        width: 280px;
        height: 280px;
    }
    
    .participantImage{
        width: 280px;
        height: 280px;    
    }
    
    .participantText{
        width: 400px;
        text-align: left;
        font-size: 30px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1200px){
    .faqContainer {
        flex-direction: column;
        margin-top: 0px;
        padding-top: 70px;
    }
    .faqImgColumn {
        display: none;
    }
    .faqTextColumn {
        padding-right: 5%;
        padding-left: 5%;
    }

    .participantBox{
        width: 70%; 
    }

}

@media screen and (max-width: 992px){

    .faqContainer {
        padding-top: 50px;
    }

    .participantBox{
        width: 80%; 
    }
}

@media screen and (max-width: 767px){
    .faqContainer{
        padding-top: 20px;
        padding-bottom: 80px;
        margin-top: 0px;
    }

    .participantBox{
        width: 90%;
        height: 260px;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .participantSlide{
        height: 170px;
    }

    .participantImageContainer{
        width: 100px;
        height: 100px;
    }
    
    .participantImage{
        width: 100px;
        height: 100px;    
    }
    
    .participantText{
        width: 200px;
        text-align: left;
        font-size: 15px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 480px){
    .faqContainer{
        margin-top: 0px;
        padding-bottom: 100px;
    }


    .participantBox{
        width: 95%;
        height: 250px;
        margin-top: 100px;
    }

    .participantSlide{
        height: 160px;
    }

    .participantImageContainer{
        width: 80px;
        height: 80px;
    }
    
    .participantImage{
        width: 80px;
        height: 80px;    
    }
    
    .participantText{
        width: 200px;
        text-align: left;
        font-size: 13px;
        margin-left: 10px;
    }
}