.landContainer{
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  
  .topLandingBack{
    height: 500px;
    padding-top: 80px !important;
    width: 100%;
    position: absolute;
    background: linear-gradient(3deg, #fff 0%, #fff 20%, #010516 20.5%, #010516 0%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1800px){

    .landContainer{
      width: 100%;
      height: 900px;
      background-color: white;
      overflow: hidden;
    }

    .topLandingBack{
      height: 770px;
      padding-top: 80px !important;
      width: 100%;
      position: absolute;
      background: linear-gradient(3deg, #fff 0%, #fff 28%, #010516 28.5%, #010516 0%);
      display: flex;
      flex-direction: row;
    }

    .headerText{
      margin-left: 200px !important;
    }

    .landGraphic{
      width: 800px !important;
    }
    
    .landLogo{
      display: block;
      width: 450px !important;
      height: auto;
      margin-top: 20%;
    }

    .landText{
      font-size: 40px !important;
    }
    
    .landSubtitle{
      font-size: 42px !important;
      width: 400px !important;
    }

    .applyButton{
      margin-top: -75px;
    }
  }

  @media screen and (max-width: 1200px){
    .landContainer{
      width: 100%;
      height: 600px;
      background-color: white;
    }

    .topLandingBack{
      height: 450px;
      background-color:  #010516;
      background: linear-gradient(3deg, #fff 0%, #fff 12%, #010516 13%, #010516 0%);
      display: flex;
    }

    
    .headerText{
      margin: auto;      
    }

    .headerImage{
      margin: auto;
      
    }
  
    .landGraphic{
      width: 480px !important;
    }

    img.landLogo{
      width: 280px;
    }

    .landText{
      width: 120%;
      height: auto;
      font-size: 25px !important;
    }
    
    .landSubtitle{
      width: 250px !important;
      height: auto;
      font-size: 25px !important;
      color: white;
      font-weight: bold;
      font-family: "mainText";
      src: url("Montserrat-Regular.ttf");
    }

    .landSubtitle2{
      font-size: 18px !important;
      margin-top: -1%;
      margin-left: 5%;
    }
    
    .applyButton{
      width: 280px !important;
      margin-top: 10px;
      padding: 8px !important; 
      background-color: #ff0000;
      font-size: 25px !important;
    }
  }
  
  @media screen and (max-width: 992px) {
    .landContainer{
      width: 100%;
      height: 450px;
      background-color: white;
    }

    .topLandingBack{
      height: 350px;
      background-color:  #010516;
      background: linear-gradient(3deg, #fff 0%, #fff 14%, #010516 15%, #010516 0%);
      display: flex;
    }

    
    .headerText{
      margin: auto;      
    }

    .headerImage{
      margin: auto;
      
    }
  
    .landGraphic{
      width: 360px !important;
    }


    img.landLogo{
      width: 180px;
    }

    .landText{
      width: 120%;
      height: auto;
      font-size: 18px !important;
      color: white;
      font-family: themeFont;
      src: url("iceland-regular.ttf");
    }
    
    .landSubtitle{
      width: 200px !important;
      height: auto;
      font-size: 20px !important;
      color: white;
      font-weight: bold;
      font-family: "mainText";
      src: url("Montserrat-Regular.ttf");
    }

    .landSubtitle2{
      font-size: 16px !important;
      margin-top: -1%;
      margin-left: 5%;
    }
    
    .applyButton{
      width: 200px !important;
      margin-top: 0px;
      padding: 6px !important; 
      background-color: #ff0000;
      font-size: 18px !important;
    }

  }

  @media screen and (max-width: 767px) {
    .landContainer{
      width: 100%;
      height: 340px;
      background-color: white;
    }

    .topLandingBack{
      height: 280px;
      background-color:  #010516;
      background: linear-gradient(3deg, #fff 0%, #fff 14%, #010516 15%, #010516 0%);
      display: flex;
    }

    
    .headerText{
      margin: auto;      
      margin-top: 10px !important;
    }

    .headerImage{
      margin: auto;
      
    }
  
    .landGraphic{
      width: 260px !important;
      margin-top: 30px !important;
    }


    img.landLogo{
      width: 130px;
    }

    .landText{
      width: 120%;
      height: auto;
      font-size: 16px !important;
      color: white;
      font-family: themeFont;
      src: url("iceland-regular.ttf");
    }
    
    .landSubtitle{
      width: 180px !important;
      height: auto;
      font-size: 18px !important;
      color: white;
      font-weight: bold;
      font-family: "mainText";
      src: url("Montserrat-Regular.ttf");
    }

    .landSubtitle2{
      font-size: 14px !important;
      margin-top: -1%;
      margin-left: 5%;
    }
    
    .applyButton{
      width: 180px !important;
      margin-top: 10px;
      padding: 6px !important; 
      background-color: #ff0000;
      font-size: 16px !important;
    }
  }

  @media screen and (max-width: 480px){
    .landContainer{
      width: 100%;
      height: 650px;
      padding-bottom: 0px;
      background-color: white;
    }

    .topLandingBack{
      height: 420px;
      background-color:  #010516;
      background: linear-gradient(3deg, #fff 0%, #fff 10%, #010516 11%, #010516 0%);
      display: flex;
      flex-direction: column-reverse;
    }

    
    .headerText{
      margin: auto;     
      margin-top: 0px !important; 
      display: flex;
      flex-direction: column;
    }

    .headerImage{
      margin: auto;
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
  
    .landGraphic{
      width: 250px !important;
    }


    img.landLogo{
      width: 160px !important;
      margin: auto;
      
    }

    .landText{
      display: none;
    }
    
    .landSubtitle{
      width: 200px !important;
      margin: auto;
      margin-left: 40px;
      height: auto;
      font-size: 16px !important;
      color: white;
      font-weight: bold;
      font-family: "mainText";
      src: url("Montserrat-Regular.ttf");
    }

    .landSubtitle2{
      display: none;
    }
    
    .applyButton{
      width: 170px !important;
      margin-top: 10px;
      margin-left: 35px;
      padding: 5px !important; 
      background-color: #ff0000;
      font-size: 15px !important;
    }
  }
  

  .landGraphic{
    width: 500px;
  }

  
  .landLogo{
    display: block;
    width: 350px;
    height: auto;
    margin-top: 20%;
  }

  #landClouds{
    position: absolute;
    width: 280px;
    margin-top: 40px;
    margin-left: -450px;
    animation: clouds 8s infinite backwards;
  }
  
  @keyframes clouds{
    0% {
      transform: translateX(0px);
      animation-timing-function: ease-in-out;
    }
    50% {
      transform: translateX(200px);
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translateX(0px);
      animation-timing-function: ease-in-out;
    }
  }

  .landText{
    width: 140%;
    height: auto;
    font-size: 25px;
    color: white;
    font-family: themeFont;
    src: url("iceland-regular.ttf");
  }
  
  .landSubtitle{
    width: 400px;
    height: auto;
    font-size: 32px;
    color: white;
    font-weight: bold;
    font-family: "mainText";
    src: url("Montserrat-Regular.ttf");
  }

  .landSubtitle2{
    font-size: 28px;
    margin-top: -1%;
    margin-left: 4px;
  }

  .landSubtitle3{
    width: 350px;
    height: auto;
    color: white;
    font-weight: bold;
    font-family: "mainText";
    src: url("Montserrat-Regular.ttf");
    font-size: 28px;
    margin-left: 4px;
    margin-top: -5%;
  }
  
  .applyButton{
    width: 280px;
    height: auto;
    padding: 10px;
    border-radius: 30vw;
    border: none;
    font-style: bold;
    background-color: #ff0000;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "mainText";
    src: url("Montserrat-Regular.ttf");
    outline: none;
    cursor: pointer;
  }