.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 5;
  background-color: #010516;
  border-bottom: 2px solid white;
}

.brandCSS {
  width: 150px;
  height: auto;
}

.brandCSS:active {
  transform: scale(0.95);
}

.navBox {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}

.navRight {
  display: flex;
  width: 670px;
  flex-direction: row;
}

.navRightSmall {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.navButtonsSpaces {
  margin: 0px 10px 0px 10px;
}

.navButton {
  display: inline-block;
  color: white;
  transition: all 0.3s ease-in-out;
  border-bottom: 15px solid transparent;
  /*background-color: transparent;
  position: relative;
  height: 3vw;*/
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  height: 23px;
}

.navButton:hover {
  color: white;
  border-bottom: 10px solid #ff0000;
  /*background-color: #ff000081;
  height: 3vw;*/
  width: 100%;
}

.page-scroll {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  color: #fefffe;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.page-scroll:hover {
  color: white;
}

.page-scroll:active {
  transition: all 0s ease-in-out;
  color: #ff6565;
}

.page-scroll-small {
  display: inline-block;
  width: 100%;
  color: #fefffe;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

img.smallScreen {
  display: none;
}

.smallScreenButton {
  display: none;
}

.navOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0); /* Black background with opacity */
  z-index: 12; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

@media only screen and (max-width: 950px) {
  .navButtonsSpaces .page-scroll {
    display: none !important;
  }

  .smallScreenButton {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 15px;
    z-index: 21;
  }

  img.smallScreen {
    display: flex;
    width: 30px;
    position: fixed;
    z-index: 10;
    right: 20px;
    top: 20px;
  }
}
.openedMenu {
  margin-top: -80px;
  height: 120vh;
  width: 100vw;
  position: fixed;
  background-color: #010516;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.navButtonsSpacesSmall {
  padding: 20px;
  width: 30%;
}

.navButtonSmall {
  display: inline-block;
  color: white;
  transition: all 0.3s ease-in-out;
  border-bottom: 10px solid transparent;
  /*background-color: transparent;
  position: relative;
  height: 3vw;*/
  width: 0%;
  box-sizing: border-box;
  height: 30px;
}

.navButtonSmall:hover {
  color: white;
  border-bottom: 10px solid #ff0000;
  /*background-color: #ff000081;
  height: 3vw;*/
  width: 100%;
  height: 30px;
}

.page-scrollSmall {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  color: #fefffe;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

.page-scrollSmall:hover {
  color: white;
}

.page-scrollSmall:active {
  transition: all 0s ease-in-out;
  color: #ff6565;
}