.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #010516;
}

.brandCSS {
  width: 150px;
  height: auto;
}

.brandCSS:active {
  transform: scale(0.95);
}

.navBox {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}

.navRight {
  display: flex;
  flex-direction: row;
}

.navButtonsSpaces {
  margin: 0px 10px 0px 10px;
}

.navButton {
  display: inline-block;
  color: white;
  transition: all 0.3s ease-in-out;
  border-bottom: 10px solid transparent;
  position: relative;
  margin: 0 auto;
  width: 0%;
}

.navButton:hover {
  color: red;
  border-bottom: 10px solid #ff000081;
  width: 100%;
}

.page-scroll {
  margin: 5px;
  color: #fefffe;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.page-scroll:hover {
  color: #ff0000;
}

@font-face {
  font-family: themeFont;
  src: url("iceland-regular.ttf");
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
