.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #010516;
  border-bottom: 4px solid white;
}

.brandCSS {
  width: 100px;
  height: auto;
}

.navBox {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}

.navRight {
  display: flex;
  flex-direction: row;
}

.page-scroll {
  padding: 10px;
  margin: 5px;
  color: #fefffe;
  text-decoration: none;
  font-size: 15px;
}

@font-face {
  font-family: themeFont;
  src: url("iceland-regular.ttf");
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topLandingBack{
  height: 30vw;
  background-color:  #010516;
  border-bottom: 5vw solid white;
  border-right: 100vw solid  #010516;
}

.landLogo{
  width: 30vw;
  height: auto;
  margin-top: 5vw;
  margin-left: 10vw;
}

.landText{
  width: 40vw;
  height: auto;
  margin-left: 10vw;
  font-size: 2vw;
  color: white;
  font-family: themeFont;
  src: url("iceland-regular.ttf");
}

.landSubtitle{
  width: 40vw;
  height: auto;
  margin-left: 10vw;
  font-size: 3vw;
  color: white;
}

.applyButton{
  width: 11vw;
  height: 4vw;
  margin-left: 11vw;
  border-radius: 40%;
  border: none;
  font-style: bold;
  background-color: #ff0000;
  color: white;
  font-size: 2vw;
  cursor: pointer;
}

.landGraphic{
  width: 45vw;
  height: auto;
  position: absolute;
  margin-left: 45vw;
  margin-top: -15vw;
}