.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #010516;
}

.brandCSS {
  width: 100px;
  height: auto;
}

.navBox {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}

.navRight {
  display: flex;
  flex-direction: row;
}

.page-scroll {
  padding: 10px;
  margin: 5px;
  color: #fefffe;
  text-decoration: none;
  font-size: 15px;
}

@font-face {
  font-family: themeFont;
  src: url("iceland-regular.ttf");
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
